data/*
!data/data.json
brand_detector/models/*
!brand_detector/models/.keep
notebooks/*.ipynb
notebooks/.ipynb_checkpoints
__pycache__/
baseline_corrects.json
.vscode/
!notebooks/analysis.ipynb
!notebooks/baseline_corrects.json